* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabeçalho {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#principal {
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: auto;
    line-height: 80px;
    border-radius: 10px;
}

#principal-hora{
    height: 50px;
    text-align: center;
    font-size: 26px;
}

#secao-imagem{
  text-align: center;
  margin-top: 50px;
}

#imagem{
    border-radius: 50%;
    margin: auto;
}

#rodape {
    font-family: cursive;
    text-align: center;
}
